<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edifica">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.business.ActivityBusinessAdsDetails"></activity>
        <activity android:name=".activities.clients.ActivityClientProfileMod" />
        <activity android:name=".activities.clients.ActivityClientAds" />
        <activity android:name=".activities.business.ActivityBusinessProfile" />
        <activity android:name=".activities.clients.ActivityClientFormulary" />
        <activity
            android:name=".activities.login.ActivityAccount"
            android:noHistory="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.business.ActivityBusinessMain"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.clients.ActivityClientMain"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.login.ActivityLogin"
            android:noHistory="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.login.ActivityAnimation"
            android:noHistory="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

    </application>

</manifest>